<center>
    <form method="post" action="../controllers/logincheck.php">
        <table>
            <tr>
                <td>
                        User Name:
                        <input type="text" name="username" value=""><br/>                               
                        Password:
                        <input type="password" name="password" value="">
                        <br /><hr/>
                        <input type="submit" name="submit" value="Login">
                        <a href="signup.html">Register</a>
                </td>
            </tr>                                
        </table>
    </form>
    </center>